<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
    <title>Space Classifier</title>
</head>
<body>
    <header class="nav">
        <a href="index.html"><img class="logo" src="../images/Logo.png" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li><a href="about.html">About</a></li>
                <li><a href="https://rohitvaliveti.github.io/" target="_blank">Who Made this?</a></li>
            </ul>
        </nav>
    </header>


    <section class="about">
        <div class="background">
            <h3>Neural Network Framework: <a href="http://arxiv.org/abs/1512.03385" target="_blank">ResNet-50</a></h3>
            <h3>Model trained with: <a href="https://github.com/fastai/fastai" target="_blank">fast.ai v1</a> and <a href="https://pytorch.org/" target="_blank">PyTorch v1</a></h3>
            <h3>Created by <a href="https://rohitvaliveti.github.io/" target="_blank">Rohit Valiveti</a></h3>
        </div>        
    </section>


    <footer class="footer">
		<div class="container">
			<h4>Created by Rohit Valiveti - Aug 2020</h4>
		</div>
	</footer>
    
</body>
</html>